@use "@/assets/styles/variables";
@use "@/assets/styles/mixins";

.hamburgerButton {
  background: none;
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.hamburgerButton:focus-visible {
  outline: 2px solid variables.$focus-visible;
}

.hamburgerIcon {
  fill: var(--foreground);
  flex: none;
  width: mixins.fluid-clamp(
    16px,
    28px,
    variables.$screen-width-mobile-min,
    variables.$screen-width-mobile-max
  );
}
