@use "@/assets/styles/variables";
@use "@/assets/styles/mixins";

.mobileHeader {
  align-items: center;
  display: flex;
  gap: clamp(calc(6 / 16 * 1rem), 2vw, calc(16 / 16 * 1rem));
  justify-content: space-between;
  overflow: hidden;
  padding-inline: 0.5rem;
}

.mobileHeaderTitle {
  font-family: var(--font-itc-handel-gothic-arabic);
  font-size: mixins.fluid-clamp(
    18px,
    32px,
    variables.$screen-width-mobile-min,
    variables.$screen-width-mobile-max
  );
  text-transform: uppercase;
  text-wrap: nowrap;
  user-select: none;
}

.desktopHeader {
}
