.body {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 800px;
  min-height: 100dvh;
  padding: calc(24 / 16 * 1rem) calc(16 / 16 * 1rem);
}

.header {
  flex: none;
}

.main {
  flex: 1;
}

.footer {
  flex: none;
}
