.button {
  --button-text: #000000;

  background-color: var(--button-bg);
  border: white solid 1px;
  border-radius: 18px;
  color: var(--button-text);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  padding: 0.5rem 1rem;
  user-select: none;
}

.button:hover:not(:disabled) {
  background-color: var(--button-bg-hover);
}

.button:active:not(:disabled) {
  background-color: var(--button-bg-active);
  transform: scale(98%);
}

.button:disabled {
  opacity: 60%;
  cursor: not-allowed;
}

/* Variants */
.primary {
  --button-bg: var(--tlc-blue);
  --button-bg-hover: var(--tlc-light-blue);
  --button-bg-active: var(--tlc-dark-blue);
}

.secondary {
  --button-bg: var(--tlc-grey);
  --button-bg-hover: var(--tlc-light-grey);
  --button-bg-active: var(--tlc-dark-grey);
}

/* Sizes */
.sm {
  padding: 0.25rem 0.75rem 0rem 0.75rem;
  font-size: calc(14 / 16 * 1rem);
}

.md {
  padding: 0.5rem 1rem 0.3rem 1rem;
  font-size: calc(16 / 16 * 1rem);
}

.lg {
  padding: 0.5rem 1rem 0.25rem 1rem;
  font-size: calc(18 / 16 * 1rem);
}
