@use "@/assets/styles/variables";

.cartIconContainer {
  cursor: pointer;
  display: inline-block;
  position: relative;
  user-select: none;
}

.cartIconContainer:active:not(:disabled) {
  transform: scale(98%);
}

.cartIcon {
  height: auto;
  max-width: calc(32 / 16 * 1rem);
  stroke: black;
  user-select: none;
  width: 100%;
}

.badge {
  background-color: #{variables.$tlc-orange};
  border-radius: 50%;
  color: white;
  font-size: calc(12 / 16 * 1rem);
  font-weight: bold;
  min-width: 18px;
  padding: 0.2rem 0.25rem 0.1rem 0.25rem;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
}
