// -------
// Spacing
// -------
$screen-width-mobile-min: 320px;
$screen-width-mobile-max: 767px;
$screen-width-desktop: 768px;

// ------
// Colors
// ------
$background: #0a0a0a;
$foreground: #ffffff;

$background-light: #ffffff;
$foreground-light: #000000;

$tlc-blue: #859dc5;
$tlc-blue-dark: #6b8bb3;
$tlc-blue-light: #94aacd;
$tlc-grey: #989898;
$tlc-grey-dark: #7f7f7f;
$tlc-grey-light: #a5a5a5;
$tlc-orange: #d9712f;
$tlc-orange-dark: #814423;
$tlc-orange-light: #e7a376;
$tlc-red: #ff2d2d;

$focus-visible: #0070f3;
