* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #{$background};
  --foreground: #{$foreground};
}

[data-theme="light"] {
  --background: #{$background-light};
  --foreground: #{$foreground-light};
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-helvetica-neue-lt-pro), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.pt {
  padding-top: 1rem;
}
